.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        takumi
      .top-items__icons
        = link_to "#", class: "icon-btn" do
          = icon('far', 'edit')
        = link_to "#", class: "icon-btn" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    .group-name
      techcamp
    .latest-message
      今日は夜から雨